{
    "swagger": "2.0",
    "info": {
        "title": "SendGrid V3 API (Swagger 2.0)",
        "version": "3.0.0"
    },
    "host": "api.sendgrid.com",
    "basePath": "/v3",
    "paths": {
        "/mail/send": {
            "post": {
                "summary": "Send an email",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MailSendRequest"
                        }
                    }
                ]
            }
        },
        "/templates": {
            "get": {
                "summary": "Retrieve all transactional templates",
                "responses": {
                    "200": {
                        "description": "List of templates"
                    }
                }
            }
        }
    },
    "definitions": {
        "MailSendRequest": {
            "type": "object",
            "properties": {
                "personalizations": {
                    "type": "array"
                },
                "from": {
                    "type": "object",
                    "properties": {
                        "email": {
                            "type": "string"
                        }
                    }
                },
                "subject": {
                    "type": "string"
                }
            }
        }
    }
}